
version: '3.2'
services:
  dockerized:
    # to enable caching, uncomment and set this:
    # image: <IMAGE_IDENTIFIER>
    build:
      context: .
      dockerfile: Dockerfile.dockerized
      # to enable caching, uncomment and set this:
      # cache_from:
      #   - <IMAGE_IDENTIFIER>
    entrypoint:
      - sh
      - '-c'
    environment:
      - YARN_CACHE_FOLDER=/data/yarn-cache
    volumes:
      - 'yarn-cache:/data/yarn-cache'

volumes:
  yarn-cache: {}
