body {
    font-family: 'Helvetica Neue', Helvetica;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background: #FFBA49;
    color: #003844;
}

a {
    color: inherit;
}

p {
    color: #513B3C;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: #513B3C;
    color: #94B9AF;
    padding: 5px;
}

body > header {
    text-align: center;
    margin-bottom: 200px;
    margin-top: 50px;
}

body > header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    font-weight: bold;
    margin: 0;
}

body > header h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    color: #513B3C;
}

body > footer {
    text-align: center;
    font-size: 0.8em;
}

main {
    padding-left: 50px;
    padding-right: 50px;
}

article > header {
    text-align: center;
}

article.highlights > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article.highlights > div > section {
    width: 200px;
    padding-left: 15px;
}

article.highlights > div > section > h1 {
    font-size: 1.5em;
    font-weight: bold;
}

article.highlights > div > section > figure {
    font-size: 8em;
    margin: 0;
    text-align: center;
}

article.highlights > div > section > figure > img {
    height: 100px;
}
