[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "==2.2.0"
setuptools = "==69.1.1"
wheel = "==0.42.0"
bumpversion = "==0.6.0"
pipenv-setup = "==3.2.0"

[packages]
click = "==7.1.2"
pyyaml = "==6.0.1"

[requires]
python_version = "3.11"
